@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertaGeral" />

@*@await Html.PartialAsync("_AlertaGeral")*@


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
